{
  "presets": ["es2015"],
  "plugins":
    [ "transform-async-functions"
    , "transform-regenerator"
    , "transform-es2015-modules-commonjs"
    ],
  "env": {
    "test": {
      "plugins":
        [ "transform-async-functions"
        , "transform-regenerator"
        , "transform-es2015-modules-commonjs"
        , "istanbul"
        ]
    }
  }
}