@import "foo.css";
@import "deep/bar.css";

:root {
  --color: pink;
  background-color: var(--color);
  background-image: url(local-image.png);
  background-image: url(/absolute-image.png);
  background-image: url(//foo/share-image.png);
  background-image: url(http://www.google.com/external-image.png);
  background-image: url(data:image/png;base64,iVBO==);
}
